<center>

  <h1> Book a space </h1>
  <h2>Not sure where to go? Look below for some inspiration!</h2>
  <form action ="/spaces/new" method ="get">
    <button type="submit" name="List a space">List a space</button>
  </form>
  <br/>
  <br/>

<form action="/spaces" method="post" style="color:white">
  <strong >Available between</strong>
  <div>
  <input type="date" name="available_from" value="2020-12-17"
       min="2020-12-17" max="2022-12-17">
  <input type="date" name="available_to" value="2020-12-18"
       min="2020-12-18" max="2022-12-17">
  </div>
</form>

<form action="/spaces" method="post">
  <input type="hidden" name="_method" value="PATCH" />
    <input type="button" value="Refresh">
</form>

</center>


<div class="wrapper">
  <article class="content">


    <% @spaces.each do |space| %>
      <div class="panel">
        <img class="panel-img" src="https://a0.muscache.com/im/pictures/10356334/a831e142_original.jpg?aki_policy=large" />
        <div class="panel-title"><%= space.description %> </div>
        <div class="panel-subtitle"><%= space.location %></div>
        <div>£<%= space.price %> total</div>
        <div>
          <form method="post" action="/spaces/<%=space.id%>/book">
            <input type="hidden" name="space_id" value="<%=space.id%>">
            <input type="hidden" name="host_id" value="<%=space.host_id%>">
            <button type="submit">Book</button>
          </form>
           <form method="post" action="/spaces/<%=space.id%>"  >
            <input type='hidden' name='_method' value='delete'>
            <input type="hidden" name="space_id" value="<%=space.id%>">
            <button type="submit">Delete Space</button>
          </form>
        </div>

      </div>
    
    <% end %>
  </article>
</div>




